version: "3"

services:

  frontend:
    image: node:9.3
    command: npm start
    working_dir: /app
    volumes:
      - ./client:/app
    environment:
      PORT: 4000
    ports:
      - "4000:4000"
    depends_on:
      - server

  server:
    image: node:9.3
    command: npm start
    working_dir: /app
    volumes:
      - ./server:/app
    environment:
      PORT: 3000
    ports:
      - "3000:3000"
    depends_on:
      - db

  db:
    image: postgres:10.1
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: user
      POSTGRES_DB: songSynonymizer